USE [master]
GO
/****** Object:  Database [Biblioteca]    Script Date: 9/11/2025 16:16:47 ******/
CREATE DATABASE [Biblioteca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Biblioteca', FILENAME = N'C:\Users\Mango\Biblioteca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Biblioteca_log', FILENAME = N'C:\Users\Mango\Biblioteca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biblioteca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biblioteca]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 9/11/2025 16:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Nacionalidad] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutorLibro]    Script Date: 9/11/2025 16:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutorLibro](
	[IdAutorLibro] [int] IDENTITY(1,1) NOT NULL,
	[IdAutor] [int] NOT NULL,
	[IdLibro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutorLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejemplares]    Script Date: 9/11/2025 16:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejemplares](
	[IdEjemplar] [int] IDENTITY(1,1) NOT NULL,
	[IdLibro] [int] NOT NULL,
	[CodigoEjemplar] [nvarchar](20) NOT NULL,
	[EstadoEjemplar] [nvarchar](20) NOT NULL,
	[FechaAdquisicion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEjemplar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 9/11/2025 16:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[IdGenero] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneroLibro]    Script Date: 9/11/2025 16:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneroLibro](
	[IdGeneroLibro] [int] IDENTITY(1,1) NOT NULL,
	[IdGenero] [int] NOT NULL,
	[IdLibro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGeneroLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lector]    Script Date: 9/11/2025 16:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lector](
	[IdLector] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](200) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Edad] [int] NULL,
	[Carnet] [nvarchar](20) NULL,
	[DUI] [nvarchar](10) NULL,
	[LimitePrestamos] [int] NULL,
	[Estado] [nvarchar](20) NULL,
	[TipoUsuario] [nvarchar](20) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 9/11/2025 16:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[IdLibros] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](20) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Editorial] [nvarchar](100) NOT NULL,
	[AnioPublicacion] [int] NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibros] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 9/11/2025 16:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamo](
	[IdPrestamo] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdLector] [int] NOT NULL,
	[IdEjemplar] [int] NOT NULL,
	[FechaPrestamo] [datetime] NOT NULL,
	[FechaDevolucionEstimada] [datetime] NOT NULL,
	[FechaDevolucionReal] [datetime] NULL,
	[EstadoPrestamo] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Renovacion]    Script Date: 9/11/2025 16:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Renovacion](
	[IdRenovacion] [int] IDENTITY(1,1) NOT NULL,
	[IdPrestamo] [int] NOT NULL,
	[FechaRenovacion] [datetime] NULL,
	[FechaAnteriorDevolucion] [datetime] NOT NULL,
	[FechaNuevaDevolucion] [datetime] NOT NULL,
	[RenovadoAnterior] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRenovacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/11/2025 16:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[Rol] [nvarchar](30) NOT NULL,
	[DUI] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([IdAutor], [Nombre], [Apellido], [Nacionalidad]) VALUES (1, N'Gabriel', N'García Márquez', N'Colombiano')
INSERT [dbo].[Autor] ([IdAutor], [Nombre], [Apellido], [Nacionalidad]) VALUES (2, N'Carlos', N'Ruiz Zafón', N'Español')
INSERT [dbo].[Autor] ([IdAutor], [Nombre], [Apellido], [Nacionalidad]) VALUES (3, N'J.K.', N'Rowling', N'Británica')
SET IDENTITY_INSERT [dbo].[Autor] OFF
GO
SET IDENTITY_INSERT [dbo].[AutorLibro] ON 

INSERT [dbo].[AutorLibro] ([IdAutorLibro], [IdAutor], [IdLibro]) VALUES (1, 1, 1)
INSERT [dbo].[AutorLibro] ([IdAutorLibro], [IdAutor], [IdLibro]) VALUES (2, 2, 2)
INSERT [dbo].[AutorLibro] ([IdAutorLibro], [IdAutor], [IdLibro]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[AutorLibro] OFF
GO
SET IDENTITY_INSERT [dbo].[Ejemplares] ON 

INSERT [dbo].[Ejemplares] ([IdEjemplar], [IdLibro], [CodigoEjemplar], [EstadoEjemplar], [FechaAdquisicion]) VALUES (1, 1, N'EJ-001-001', N'Disponible', CAST(N'2025-11-08T18:45:30.420' AS DateTime))
INSERT [dbo].[Ejemplares] ([IdEjemplar], [IdLibro], [CodigoEjemplar], [EstadoEjemplar], [FechaAdquisicion]) VALUES (2, 1, N'EJ-001-002', N'Disponible', CAST(N'2025-11-08T18:45:30.420' AS DateTime))
INSERT [dbo].[Ejemplares] ([IdEjemplar], [IdLibro], [CodigoEjemplar], [EstadoEjemplar], [FechaAdquisicion]) VALUES (3, 1, N'EJ-001-003', N'Disponible', CAST(N'2025-11-08T18:45:30.420' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ejemplares] OFF
GO
SET IDENTITY_INSERT [dbo].[Genero] ON 

INSERT [dbo].[Genero] ([IdGenero], [Nombre], [Descripcion]) VALUES (1, N'Ficción', N'Narrativa de eventos imaginarios')
INSERT [dbo].[Genero] ([IdGenero], [Nombre], [Descripcion]) VALUES (2, N'Misterio', N'Historias de suspenso y enigmas')
INSERT [dbo].[Genero] ([IdGenero], [Nombre], [Descripcion]) VALUES (3, N'Fantasía', N'Mundos imaginarios y mágicos')
SET IDENTITY_INSERT [dbo].[Genero] OFF
GO
SET IDENTITY_INSERT [dbo].[GeneroLibro] ON 

INSERT [dbo].[GeneroLibro] ([IdGeneroLibro], [IdGenero], [IdLibro]) VALUES (1, 1, 1)
INSERT [dbo].[GeneroLibro] ([IdGeneroLibro], [IdGenero], [IdLibro]) VALUES (5, 1, 4)
INSERT [dbo].[GeneroLibro] ([IdGeneroLibro], [IdGenero], [IdLibro]) VALUES (6, 1, 5)
SET IDENTITY_INSERT [dbo].[GeneroLibro] OFF
GO
SET IDENTITY_INSERT [dbo].[Lector] ON 

INSERT [dbo].[Lector] ([IdLector], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Edad], [Carnet], [DUI], [LimitePrestamos], [Estado], [TipoUsuario], [FechaRegistro]) VALUES (1, N'Juan', N'Pérez García', N'San Salvador', N'7890-1234', N'juan.perez@email.com', 20, N'PG2024001', N'01234567-8', 1, N'Inactivo', N'Estudiante', CAST(N'2025-11-08T18:29:49.067' AS DateTime))
INSERT [dbo].[Lector] ([IdLector], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Edad], [Carnet], [DUI], [LimitePrestamos], [Estado], [TipoUsuario], [FechaRegistro]) VALUES (2, N'María', N'López Martínez', N'Santa Ana', N'7123-4567', N'maria.lopez@email.com', 22, N'LM2024002', N'02345678-9', 3, N'Activo', N'Estudiante', CAST(N'2025-11-08T18:29:49.067' AS DateTime))
INSERT [dbo].[Lector] ([IdLector], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Edad], [Carnet], [DUI], [LimitePrestamos], [Estado], [TipoUsuario], [FechaRegistro]) VALUES (3, N'Sandra', N'Morales Cruz', N'San Salvador', N'7890-2345', N's.morales@email.com', 21, N'MS2024004', N'03456789-0', 3, N'Activo', N'Estudiante', CAST(N'2025-11-08T18:29:49.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[Lector] OFF
GO
SET IDENTITY_INSERT [dbo].[Libros] ON 

INSERT [dbo].[Libros] ([IdLibros], [ISBN], [Titulo], [Editorial], [AnioPublicacion], [FechaRegistro], [Estado]) VALUES (1, N'978-0307474728', N'Cien Años de Soledad', N'Sudamericana', 1967, CAST(N'2025-11-08T18:38:29.970' AS DateTime), 1)
INSERT [dbo].[Libros] ([IdLibros], [ISBN], [Titulo], [Editorial], [AnioPublicacion], [FechaRegistro], [Estado]) VALUES (2, N'978-8497592208', N'La Sombra del Viento', N'Planeta', 2001, CAST(N'2025-11-08T18:38:29.970' AS DateTime), 1)
INSERT [dbo].[Libros] ([IdLibros], [ISBN], [Titulo], [Editorial], [AnioPublicacion], [FechaRegistro], [Estado]) VALUES (3, N'978-0747532699', N'Harry Potter y la Piedra Filosofal', N'Salamandra', 1997, CAST(N'2025-11-08T18:38:29.970' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Libros] OFF
GO
SET IDENTITY_INSERT [dbo].[Prestamo] ON 

INSERT [dbo].[Prestamo] ([IdPrestamo], [IdUsuario], [IdLector], [IdEjemplar], [FechaPrestamo], [FechaDevolucionEstimada], [FechaDevolucionReal], [EstadoPrestamo]) VALUES (1, 1, 1, 1, CAST(N'2025-10-15T00:00:00.000' AS DateTime), CAST(N'2025-10-22T00:00:00.000' AS DateTime), CAST(N'2025-10-21T00:00:00.000' AS DateTime), N'Devuelto')
INSERT [dbo].[Prestamo] ([IdPrestamo], [IdUsuario], [IdLector], [IdEjemplar], [FechaPrestamo], [FechaDevolucionEstimada], [FechaDevolucionReal], [EstadoPrestamo]) VALUES (2, 1, 3, 3, CAST(N'2025-10-18T00:00:00.000' AS DateTime), CAST(N'2025-10-25T00:00:00.000' AS DateTime), CAST(N'2025-10-24T00:00:00.000' AS DateTime), N'Devuelto')
INSERT [dbo].[Prestamo] ([IdPrestamo], [IdUsuario], [IdLector], [IdEjemplar], [FechaPrestamo], [FechaDevolucionEstimada], [FechaDevolucionReal], [EstadoPrestamo]) VALUES (3, 2, 1, 6, CAST(N'2025-10-25T00:00:00.000' AS DateTime), CAST(N'2025-11-01T00:00:00.000' AS DateTime), CAST(N'2025-10-31T00:00:00.000' AS DateTime), N'Devuelto')
SET IDENTITY_INSERT [dbo].[Prestamo] OFF
GO
SET IDENTITY_INSERT [dbo].[Renovacion] ON 

INSERT [dbo].[Renovacion] ([IdRenovacion], [IdPrestamo], [FechaRenovacion], [FechaAnteriorDevolucion], [FechaNuevaDevolucion], [RenovadoAnterior]) VALUES (1, 5, CAST(N'2025-10-28T10:00:00.000' AS DateTime), CAST(N'2025-10-29T00:00:00.000' AS DateTime), CAST(N'2025-11-05T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Renovacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [NombreUsuario], [Password], [Rol], [DUI]) VALUES (1, N'Juan Perez', N'jperez.01', N'BB2025', N'Bibliotecario', N'12345678-9')
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [NombreUsuario], [Password], [Rol], [DUI]) VALUES (2, N'María Lopez', N'mlopez.02', N'BB2025', N'Bibliotecario', N'98765432-1')
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [NombreUsuario], [Password], [Rol], [DUI]) VALUES (3, N'Manuel Chavez', N'mchavez.03', N'BB2025', N'Bibliotecario', N'45678912-3')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  Index [UQ_AutorLibro]    Script Date: 9/11/2025 16:16:48 ******/
ALTER TABLE [dbo].[AutorLibro] ADD  CONSTRAINT [UQ_AutorLibro] UNIQUE NONCLUSTERED 
(
	[IdAutor] ASC,
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ejemplar__2C35B4E3C314F445]    Script Date: 9/11/2025 16:16:48 ******/
ALTER TABLE [dbo].[Ejemplares] ADD UNIQUE NONCLUSTERED 
(
	[CodigoEjemplar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_GeneroLibro]    Script Date: 9/11/2025 16:16:48 ******/
ALTER TABLE [dbo].[GeneroLibro] ADD  CONSTRAINT [UQ_GeneroLibro] UNIQUE NONCLUSTERED 
(
	[IdGenero] ASC,
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Lector_Carnet_NoNulo]    Script Date: 9/11/2025 16:16:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Lector_Carnet_NoNulo] ON [dbo].[Lector]
(
	[Carnet] ASC
)
WHERE ([Carnet] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Lector_DUI_NoNulo]    Script Date: 9/11/2025 16:16:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Lector_DUI_NoNulo] ON [dbo].[Lector]
(
	[DUI] ASC
)
WHERE ([DUI] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Libros__447D36EA736D00A7]    Script Date: 9/11/2025 16:16:48 ******/
ALTER TABLE [dbo].[Libros] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Renovacion_Prestamo]    Script Date: 9/11/2025 16:16:48 ******/
ALTER TABLE [dbo].[Renovacion] ADD  CONSTRAINT [UK_Renovacion_Prestamo] UNIQUE NONCLUSTERED 
(
	[IdPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__6B0F5AE0E966E3CE]    Script Date: 9/11/2025 16:16:48 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__C03671B9CC64A199]    Script Date: 9/11/2025 16:16:48 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[DUI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ejemplares] ADD  DEFAULT ('Disponible') FOR [EstadoEjemplar]
GO
ALTER TABLE [dbo].[Ejemplares] ADD  DEFAULT (getdate()) FOR [FechaAdquisicion]
GO
ALTER TABLE [dbo].[Lector] ADD  DEFAULT ((3)) FOR [LimitePrestamos]
GO
ALTER TABLE [dbo].[Lector] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Lector] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Prestamo] ADD  DEFAULT (getdate()) FOR [FechaPrestamo]
GO
ALTER TABLE [dbo].[Prestamo] ADD  DEFAULT ('Activo') FOR [EstadoPrestamo]
GO
ALTER TABLE [dbo].[Renovacion] ADD  DEFAULT (getdate()) FOR [FechaRenovacion]
GO
ALTER TABLE [dbo].[Renovacion] ADD  DEFAULT ((0)) FOR [RenovadoAnterior]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('Bibliotecario') FOR [Rol]
GO
ALTER TABLE [dbo].[AutorLibro]  WITH CHECK ADD  CONSTRAINT [FK_AutorLiblO_Libro] FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibros])
GO
ALTER TABLE [dbo].[AutorLibro] CHECK CONSTRAINT [FK_AutorLiblO_Libro]
GO
ALTER TABLE [dbo].[AutorLibro]  WITH CHECK ADD  CONSTRAINT [FK_AutorLibro_Autor] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([IdAutor])
GO
ALTER TABLE [dbo].[AutorLibro] CHECK CONSTRAINT [FK_AutorLibro_Autor]
GO
ALTER TABLE [dbo].[Ejemplares]  WITH CHECK ADD  CONSTRAINT [FK_Ejemplares_Libros] FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibros])
GO
ALTER TABLE [dbo].[Ejemplares] CHECK CONSTRAINT [FK_Ejemplares_Libros]
GO
ALTER TABLE [dbo].[GeneroLibro]  WITH CHECK ADD  CONSTRAINT [FK_GeneroLibro_Genero] FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Genero] ([IdGenero])
GO
ALTER TABLE [dbo].[GeneroLibro] CHECK CONSTRAINT [FK_GeneroLibro_Genero]
GO
ALTER TABLE [dbo].[GeneroLibro]  WITH CHECK ADD  CONSTRAINT [FK_GeneroLibro_Libro] FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibros])
GO
ALTER TABLE [dbo].[GeneroLibro] CHECK CONSTRAINT [FK_GeneroLibro_Libro]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Ejemplar] FOREIGN KEY([IdEjemplar])
REFERENCES [dbo].[Ejemplares] ([IdEjemplar])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Ejemplar]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Lector] FOREIGN KEY([IdLector])
REFERENCES [dbo].[Lector] ([IdLector])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Lector]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Usuario]
GO
ALTER TABLE [dbo].[Renovacion]  WITH CHECK ADD  CONSTRAINT [FK_Renovacion_Prestamo] FOREIGN KEY([IdPrestamo])
REFERENCES [dbo].[Prestamo] ([IdPrestamo])
GO
ALTER TABLE [dbo].[Renovacion] CHECK CONSTRAINT [FK_Renovacion_Prestamo]
GO
ALTER TABLE [dbo].[Ejemplares]  WITH CHECK ADD  CONSTRAINT [CHK_Ejemplares_Estado] CHECK  (([EstadoEjemplar]='Perdido' OR [EstadoEjemplar]='Dañado' OR [EstadoEjemplar]='Prestado' OR [EstadoEjemplar]='Disponible'))
GO
ALTER TABLE [dbo].[Ejemplares] CHECK CONSTRAINT [CHK_Ejemplares_Estado]
GO
ALTER TABLE [dbo].[Lector]  WITH CHECK ADD  CONSTRAINT [CHK_Lector_Estado] CHECK  (([Estado]='Inactivo' OR [Estado]='Activo'))
GO
ALTER TABLE [dbo].[Lector] CHECK CONSTRAINT [CHK_Lector_Estado]
GO
ALTER TABLE [dbo].[Lector]  WITH CHECK ADD  CONSTRAINT [CHK_Lector_Identificacion] CHECK  (([Carnet] IS NOT NULL OR [DUI] IS NOT NULL))
GO
ALTER TABLE [dbo].[Lector] CHECK CONSTRAINT [CHK_Lector_Identificacion]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [CHK_Prestamo_Estado] CHECK  (([EstadoPrestamo]='Renovado' OR [EstadoPrestamo]='Vencido' OR [EstadoPrestamo]='Devuelto' OR [EstadoPrestamo]='Activo'))
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [CHK_Prestamo_Estado]
GO
USE [master]
GO
